.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 500px;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-content {
  padding: 10px;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
}

.card-content p {
  margin: 10px 0;
  color: #555;
}

.additional-info {
  margin-top: 10px;
}