.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  margin-bottom: 5em;
}

.circle-container {
  display: flex;
  justify-content: center;
  border: 2px dotted black;
  width: 30%;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.pink {
  background-color: #ff69b4;
}

.green {
  background-color: yellowgreen;
}

.purple {
  background-color: blueviolet;
}


button {
  margin: 5px;
  cursor: pointer;
}
